.card-container {
  max-width: 540px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 15rem;
  height: 15rem;
}
