.bg-color-gradiente {
  background-color: #eb92be;
  color: antiquewhite;
}

.icon-nav .fa-shopping-cart {
  margin: 0 1rem;
  padding: 0;
  font-size: 1.5rem;
  color: white;
}
.icon-nav .fa-shopping-cart:hover {
  color: #bd377a;
}

.icon-nav .fa-birthday-cake {
  margin: 0 1rem;
  padding: 0;
  font-size: 1.5rem;
  color: white;
}
.icon-nav .fa-birthday-cake:hover {
  color: #bd377a;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.title-icon-nav i {
  margin: 0;
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s;
}

.link:hover {
  border-radius: 10px;
  background-color: #bd377a;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}
